.logo-carousel-wrapper {
	background-color: rgb(240, 240, 240);
}


.page-template-events .logo-carousel-wrapper,
.page-template-photoalbums .logo-carousel-wrapper,
.page-template-posts .logo-carousel-wrapper {
	background-color: white;
}

.logo-carousel-container {
	padding-top: 60px;
	padding-bottom: 60px;
}

.logo-carousel-title {
	margin-top: 0;
	text-align: center;
}

.logo-carousel-items-wrapper:not(:first-child) {
	margin-top: 30px;
}

ul.logo-carousel-items-container {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.logo-carousel-items-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-carousel-item-container {
	padding: 0 15px;
	width: 250px;
	height: 100px;
}

@media (min-width: $break-small) {
	.logo-carousel-item-container {
		padding: 0 30px;
	}
}

.logo-carousel-item-container > a,
.logo-carousel-item-container > a:link,
.logo-carousel-item-container > a:visited {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 100%;
	height: 100%;
}

.logo-carousel-item-container > a > img {
	max-height: 100%;
}