.header-wrapper {
	position: relative;
	min-height: 60px;
	background-color: $p-color;
	z-index: 10;
}

.header-content {
	line-height: 60px;
}

.header-logo-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	min-height: 162px;
	overflow: hidden;
}

.header-logo {
	display: block;
	position: absolute;
	left: 50%;
	top: -14em;
	margin-left: -12em;
	width: 24em;
}

.header-logo img {
	display: block;
}

.header-menu-button {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	width: 60px;
	height: 60px;
	background-color: $text-color;
	border: none;
	outline: none;
	z-index: 101;
	transition: background-color .2s, top .2s;
}

.admin-bar .header-menu-button {
	top: 32px;
}

@media screen and (max-width: 782px){
	.admin-bar .header-menu-button {
		top: 46px;
	}

	.scrolled-down.admin-bar .header-menu-button {
		top: 0;
	}
}

.header-menu-button-icon,
.header-menu-button-icon:after,
.header-menu-button-icon:before {
 height: 4px;
 background-color: white;
}

.header-menu-button-icon {
	display: inline-block;
	position: relative;
	width: 30px;
	vertical-align: middle;
	transition: background-color .2s;
}

.header-menu-button-icon:after,
.header-menu-button-icon:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	transition: transform .2s, background-color .2s;
}

.header-menu-button-icon:before {
	transform: translateY(-8px);
}

.header-menu-button-icon:after {
	transform: translateY(8px);
}

.nav-active .header-menu-button-icon {
	background-color: transparent;
}

.nav-active .header-menu-button-icon:after {
	transform: rotateZ(45deg) translateY(0);
}

.nav-active .header-menu-button-icon:before {
	transform: rotateZ(-45deg) translateY(0);
}


/* HOOFDNAVIGATIE*/

.header-nav-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	overflow: hidden;
	pointer-events: none;
	z-index: 100;
}

.header-nav-wrapper.header-nav-wrapper-visible {
 pointer-events: auto;
}

.header-nav-wrapper::before {
 content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	opacity: 0;
	will-change: opacity;
	background-color: rgba(0, 0, 0, .4);
	transition: opacity .3s;
}

.nav-active .header-nav-wrapper::before {
	opacity: 1;
}

.header-nav {
 position: fixed;
 top: 0;
 left: 0;
 bottom: 0;
 width: 17em;
 background-color: $text-color;
 box-shadow: 3px 0 6px rgba(0, 0, 0, .2);
 overflow-y: auto;
 transform: translateX(-17em) translateX(-9px);
}

@media (min-width: $bp-small) {
	.header-nav {
		width: 19em;
		transform: translateX(-23em) translateX(-9px);
	}
}

@media (min-width: $bp-middle) {
	.header-nav {
		width: 23em;
		transform: translateX(-28em) translateX(-9px);
	}
}

.admin-bar .header-nav {
	top: 46px;
}

@media (min-width: $bp-middle) {
	.admin-bar .header-nav {
	 	top: 32px;
	}
}

.header-nav-wrapper-animatable .header-nav {
	transition: transform .3s;
}

.nav-active .header-nav {
	transform: translateX(0);
}

.header-wrapper.active .header-nav {
	height: auto;
	opacity: 1;
}

.header-nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.header-nav > .menu {
	width: 100%;
	min-height: 20em;
	margin: auto;
	padding: 60px 0 0;
	line-height: inherit;
}

.header-nav .menu-item {
	width: 100%;
	border-top: 1px solid darken($text-color, 5%);
}

.header-nav .menu-item:first-child {
	border-top: 0;
}

.header-nav .menu-item a,
.header-nav .menu-item a:link,
.header-nav .menu-item a:visited {
	display: block;
	padding: 0 1em;
	font-size: .875em;
	color: white;
	font-weight: 300;
	line-height: 3.5;
	text-decoration: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	transition: background-color .2s;
}

@media (min-width: $bp-middle) {
	.header-nav .menu-item a,
	.header-nav .menu-item a:link,
	.header-nav .menu-item a:visited {
		font-size: 1em;
	}
}

.header-nav .menu-item a:hover {
	background-color: darken($text-color, 5%);
}

.header-nav-download-button {
	position: absolute;
	right: $cp-middle;
	top: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	text-indent: -999999px;
	background-color: white;
	background-image: url('images/icon-download.svg');
	background-size: 65% auto;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 40px;
	border: none;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
	transition: transform .2s ease-out, box-shadow .2s ease-out;
}


.header-nav-download-button:hover {
	transform: scale(1.05);
	box-shadow: 0 2px 15px rgba(0, 0, 0, .4);
}

ul.header-nav-download-container {
	list-style-type: none;
	margin: 0;
}

.header-nav-download-container {
	position: absolute;
	top: 75px;
	right: $cp-middle;
	max-height: 10em;
	padding: 15px;
	overflow-y: auto;
	opacity: 0;
	background-color: white;
	border-radius: 20px 0 20px 20px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
	transition: opacity .2s ease-out;
	pointer-events: none;
}

.header-nav-download-container.is-active {
	opacity: 1;
	pointer-events: auto;
}

.header-nav-download-container .header-nav-download-single a::before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-right: .5em;
	margin-top: -.25em;
	vertical-align: middle;
	background-image: url('images/icon-file.svg');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}

.header-nav-download-container .header-nav-download-single a:link,
.header-nav-download-container .header-nav-download-single a:visited {
	color: $text-color;
}

.header-nav-download-container .header-nav-download-single a:hover {
	color: $p-color;
}

/*.header-nav-download-container .download-mime-application-pdf::before {
	content: "pdf";
	display: inline-block;
	padding: 0 .5em;
	margin-right: .5em;
	color: white;
	background-color: rgb(200, 200, 200);
	border-radius: 15px;
}*/