body.page-template-events,
body.page-template-photoalbums,
body.page-template-posts {
 background-color: rgb(240, 240, 240);
}

@import 'layout-header';

.content {
	padding-left: $cp-default;
	padding-right: $cp-default;
}

@media (min-width: $bp-small) {
	.content {
		padding-left: $cp-small;
		padding-right: $cp-small;
	}
}

@media (min-width: $bp-middle) {
	.content {
		padding-left: $cp-middle;
		padding-right: $cp-middle;
	}
}

@media (min-width: $bp-large) {
	.content {
		margin: 0 auto;
		width: $bp-large - $cp-middle * 2;
	}
}

.header-wrapper + .content,
.header-wrapper + script + .content  {
	padding-top: 120px;
}

.single .header-wrapper + .content,
.page-template-default .header-wrapper + .content {
	padding-bottom: 60px;
}

/* ARTICLE */

html {
	height: 100%;
}

th {
	background-color: rgb(240, 240, 240);
}

td {
	border-top: 1px solid rgb(240, 240, 240);
}

.article {
	padding-top: 40px;
	padding-bottom: 50px;
}

.article h2:first-child,
.article h3:first-child,
.article p:first-child,
.article ul:first-child,
.article ol:first-child,
.article table:first-child {
	margin-top: 0;
}

.article h2:last-child,
.article h3:last-child,
.article p:last-child,
.article ul:last-child,
.article ol:last-child,
.article table:last-child {
	margin-bottom: 0;
}

.single {
	height: 100%;
}

.single:not(.single-photoalbum) .article,
.error404 .article {
	max-width: 54em;
	margin: 0 auto;
}

.article-image-post {
	overflow: hidden;
	position: relative;
	height: 50%;
	min-height: 20em;
	padding-left: $cp-default;
	padding-right: $cp-default;
	background-size: cover;
	background-position: center center;
	box-sizing: border-box;
}

.article-image-post::before {
 content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .3);
}

.article-image-post-content {
	display: table;
	width: 100%;
	height: 100%;
}

.article-image-post h1 {
	display: table-cell;
	position: relative;
	font-size: 2em;
	color: white;
	text-align: center;
	vertical-align: middle;
}

@media (min-width: $bp-small) {
	.article-image-post h1 {
		font-size: 3em;
	}
}

@media (min-width: $bp-middle) {
	.article-image-post h1 {
		font-size: 3em;
	}
}

@media (min-width: $bp-large) {
	.article-image-post h1 {
		font-size: 4em;
	}
}


.article-image-post-image {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: -5px -10px -10px -5px;
	top: 0;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	transition: filter .8s, transform .8s;
	z-index: -1;
}

.scrolled-down .article-image-post-image {
 filter: blur(5px);
	transform: scale(1.03);
}

.articles-content {
	text-align: center;
}

.article table {
	width: 100%;
}

/* ARTICLE ITEM */

.article-item-content {
	padding-top: 60px;
	padding-bottom: 80px;
}

@media (min-width: $bp-small) {
	.article-item-content {
		display: flex;
		flex-wrap: wrap;
	}
}

.article-item {
	position: relative;
	margin-top: 60px;
	color: inherit;
	background-color: white;
}

.article-item:first-child {
	margin-top: 0;
}

.article-item > a {
	display: block;
	height: 100%;
	box-sizing: border-box;
	color: inherit;
	border: 2px solid transparent;
	transition: border-color .1s;
}

.article-item > a:hover {
	border-color: rgba(darken($p-color, 30%), .2);
}

@media (min-width: $bp-small) {
	.article-item,
	.article-item:first-child {
		width: 47%;
		margin-left: 6%;
		margin-top: 60px;
	}

	.article-item:nth-child(2n+1) {
		margin-left: 0;
	}

	.article-item:nth-child(-n+2) {
		margin-top: 0;
	}
}

@media (min-width: $bp-middle) {
 	.article-item,
	.article-item:first-child,
	.article-item:nth-child(2n+1) {
		width: 30%;
		margin-left: 5%;
		margin-top: 60px;
	}

	.article-item:nth-child(3n+1) {
		margin-left: 0;
	}

	.article-item:nth-child(-n+3) {
		margin-top: 0;
	}
}

.article-item-thumb img {
	display: block;
}

.article-item-thumb + .article-item-body {
	margin: -1.75em 1em 0;
}

.article-item-body {
	position: relative;
	padding-bottom: 1.75em;
}

.article-item-title {
	display: inline-block;
	padding: 8px 16px;
	margin: 0;
	background-color: white;
}

.article-item-date {
	margin-top: .5em;
	padding: 0 16px;
	line-height: 1;
}

.article-item-excerpt {
	padding: 0 16px;
}

.article-item-excerpt p:last-child {
	margin-bottom: 0;
}

.photos {
	margin: 0 -4px;
	line-height: 0;
}

.photos .photo {
	display: inline-block;
	width: 33.3333%;
	border: 2px solid transparent;
	box-sizing: border-box;
}

@media (min-width: $bp-middle) {
	.photos .photo,
	.photos .photo:nth-child(3n) {
		width: 25%;
	}

	.photos .photo:nth-child(4n) {
		margin-right: 0;
	}
}

@media (min-width: $bp-large - 5) {
	.photos .photo,
	.photos .photo:nth-child(3n),
	.photos .photo:nth-child(4n) {
		width: 20%;
	}

	.photos .photo:nth-child(5n) {
		margin-right: 0;
	}
}

.photos .photo img {
	display: block;
}

/* USERS */

ul.users {
	list-style-type: none;
	padding-left: 0;
}

.users::after {
 content: "";
	display: block;
	clear: left;
}

.users .user-item {
	padding: 2em;
	margin-top: 40px;
	background-color: rgb(230, 230, 230);
	box-sizing: border-box;
}

@media (min-width: $bp-small) {
	.users {
		display: flex;
		flex-wrap: wrap;
	}

	.users .user-item {
		float: left;
		width: 47%;
		margin-left: 6%;
	}

	.users .user-item:nth-child(2n+1) {
		margin-left: 0;
		clear: left;
	}

	.users .user-item:nth-child(-n+2) {
		margin-top: 0;
	}
}

@media (min-width: $bp-middle) {
	.users .user-item,
	.users .user-item:nth-child(2n+1) {
		float: left;
		width: 30%;
		margin-left: 5%;
		clear: none;
	}

	.users .user-item:nth-child(3n+1) {
		margin-left: 0;
		clear: left;
	}

	.users .user-item:nth-child(-n+3) {
		margin-top: 0;
	}
}

.users .user-item .user-name {
	margin-top: 0;
	font-size: 1.25rem;
}

.users .user-item .user-boardmember,
.users .user-item .user-contact {
	font-size: 1em;
}

.users .user-item .user-contact a:hover {
	text-decoration: underline;
}

.users .user-item .user-contact a[href^="tel:"] {
	padding-left: 1.75em;
	background-image: url('../images/icon-phone.svg');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: auto 90%;
}

.users .user-item .user-contact a[href^="mailto:"] {
	word-break: break-all;
}

.users .user-item .user-boardmember {
	margin-top: 0;
	font-style: italic;
}

@import 'layout-footer';