body:not(.single) {
 background-color: rgb(240, 240, 240);
}

@import 'layout-header';

.content {
 padding-left: $cp-default;
 padding-right: $cp-default;
}

@media (min-width: $bp-small) {
	.content {
	 padding-left: $cp-small;
	 padding-right: $cp-small;
	}
}

@media (min-width: $bp-middle) {
	.content {
	 padding-left: $cp-middle;
	 padding-right: $cp-middle;
	}
}

@media (min-width: $bp-large) {
	.content {
	 margin: 0 auto;
	 width: $bp-large - $cp-middle * 2;
	}
}

.header-wrapper + .content {
 padding-top: 80px;
}

.article {
 max-width: 54em;
}


.articles-content {
 text-align: center;
}


/* ARTICLE ITEM */

.article-item-content {
 padding-top: 60px;
 padding-bottom: 80px;
}

.article-item-content::after {
 content: "";
 display: block;
 clear: left;
}

.article-item {
 position: relative;
 margin-top: 60px;
 color: inherit;
 background-color: white;
}

.article-item:first-child {
 margin-top: 0;
}

.article-item > a {
 display: block;
 height: 100%;
 box-sizing: border-box;
 color: inherit;
 border: 2px solid transparent;
 transition: border-color .1s;
}

.article-item > a:hover {
 border-color: rgba(darken($p-color, 30%), .2);
}

@media (min-width: $bp-small) {
	.article-item,
	.article-item:first-child {
	 float: left;
	 width: 47%;
	 margin-left: 6%;
	 margin-top: 60px;
	}

	.article-item:nth-child(2n+1) {
	 margin-left: 0;
	 clear: left;
	}

	.article-item:nth-child(-n+2) {
	 margin-top: 0;
	}
}

@media (min-width: $bp-middle) {
 	.article-item,
	.article-item:first-child,
	.article-item:nth-child(2n+1) {
	 width: 30%;
	 margin-left: 5%;
	 margin-top: 60px;
	 clear: none;
	}

	.article-item:nth-child(3n+1) {
	 margin-left: 0;
	 clear: left;
	}

	.article-item:nth-child(-n+3) {
	 margin-top: 0;
	}
}

.article-item-thumb img {
 display: block;
}

.article-item-thumb + .article-item-body {
 margin: -1.75em 1em 0;
}

.article-item-body {
 position: relative;
 padding-bottom: 1.75em;
}

.article-item-title {
 display: inline-block;
 padding: 8px 16px;
 background-color: white;
}

.article-item-date {
 margin-top: .5em;
 padding: 0 16px;
 line-height: 1;
}

.photos {
 line-height: 0;
}

.photos .photo {
 display: inline-block;
}

.photos .photo img {
 display: block;
}

.footer-wrapper {
 background-color: rgb(50, 50, 50);
}