.footer-wrapper {
 background-color: rgb(50, 50, 50);
}

.footer {
 padding-top: 40px;
 //padding-bottom: 50px;
 color: white;
}

.footer::after {
 content: "";
 display: block;
 clear: left;
}

@media (min-width: $bp-small) {
	.footer-column {
	 float: left;
	 width: 47%;
	 margin-left: 6%;
	}

	.footer-column:nth-child(2n+1) {
	 margin-left: 0;
	 clear: left;
	}
}

.footer h2,
.footer h3,
.footer p,
.footer table,
.footer a:link,
.footer a:visited  {
 color: rgb(200, 200, 200);
}

.footer a:hover {
 color: white;
 text-decoration: underline;
}

.footer .trainingstijden {
 font-size: .9375em;
}

.footer table {
 width: 100%;
}

.footer h2:first-child,
.footer p:first-child,
.footer table:first-child {
 margin-top: 0;
}

.footer td,
.footer th {
 padding-top: .25em;
 padding-bottom: .25em;
}

.footer th {
 background-color: darken(rgb(50, 50, 50), 2%);
}

.footer td {
 border-top: 1px solid darken(rgb(50, 50, 50), 2%);
}

.footer .footer-nav {
 clear: both;
}

.footer .footer-nav ul {
 padding-left: 0;
 margin-top: 0;
 list-style-type: none;
}

.footer-nav {
 padding-top: 30px;
}

.footer-nav .menu {
 padding: .5em 0;
 border-top: 1px solid rgb(100, 100, 100);
}

.footer-nav .menu-item {
 display: inline-block;
 padding: 0 1em;
}

.footer-nav .menu-item a:link,
.footer-nav .menu-item a:visited {
 text-transform: lowercase;
}