
/* GALLERY */

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1.6em;
}

//default
.gallery .gallery-item {
	width: 48.5%;
	margin: 1em 0 0 3%;
	box-sizing: border-box;
}

.gallery .gallery-item > a,
.gallery .gallery-item img {
	display: block;
}

.gallery .gallery-item:nth-child(2n+1) {
	margin-left: 0;
}

@media (min-width: $break-small) {
	.gallery .gallery-item,
	.gallery .gallery-item:nth-child(2n+1) {
		width: 31.666666666%;
		margin-left: 2.5%;
	}

	.gallery .gallery-item:nth-child(3n+1) {
		margin-left: 0;
	}
}

//1
.gallery.gallery-columns-1 .gallery-item,
.gallery.gallery-columns-1 .gallery-item:nth-child(2n+1) {
	width: auto;
	margin-left: 0;
}

//2
@media (min-width: $break-small) {
	.gallery.gallery-columns-2 .gallery-item,
	.gallery.gallery-columns-2 .gallery-item:nth-child(2n+1) {
		width: 48.5%;
 		margin-left: 3%;
	}

	.gallery.gallery-columns-2 .gallery-item:nth-child(2n+1) {
		margin-left: 0;
	}
}

//4
@media (min-width: $break-middle) {
	.gallery.gallery-columns-4 .gallery-item,
	.gallery.gallery-columns-4 .gallery-item:nth-child(3n+1),
	.gallery.gallery-columns-5 .gallery-item,
	.gallery.gallery-columns-5 .gallery-item:nth-child(3n+1) {
		width: 22%;
 		margin-left: 4%;
	}

	.gallery.gallery-columns-4 .gallery-item:nth-child(4n+1),
	.gallery.gallery-columns-5 .gallery-item:nth-child(4n+1) {
		margin-left: 0;
	}
}

//5
@media (min-width: $break-large) {
	.gallery.gallery-columns-5 .gallery-item,
	.gallery.gallery-columns-5 .gallery-item:nth-child(3n+1),
	.gallery.gallery-columns-5 .gallery-item:nth-child(4n+1) {
		width: 18%;
 		margin-left: 2.5%;
	}

	.gallery.gallery-columns-5 .gallery-item:nth-child(5n+1) {
		margin-left: 0;
	}
}