.cards-wrapper {
	padding-top: 80px;
	background-image: url('../images/background-weekendkamp-2014.jpg');
	background-size: cover;
	background-position: center center;
	background-color: rgb(240, 240, 240);
}

.card {
	width: 100%;
	background-color: white;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	background-size: cover;
	background-position: center center;
}

.card > a:not(.card-type) {
	display: block;
	box-sizing: border-box;
	color: inherit;
	border: 2px solid transparent;
	transition: border-color .1s;
}

.card > a:not(.card-type):hover {
	border-color: rgba(darken($color-primary, 30%), .2);
}

.card.card-photo-album > a:not(.card-type):hover,
.card.card-location > a:not(.card-type):hover,
.card.card-type-image > a:not(.card-type):hover {
	border-color: rgba($color-primary, .6);
}

.card .card-date {
	display: inline-block;
	padding: .25em .5em;
	margin-top: .5em;
	vertical-align: middle;
	background-color: rgb(230, 230, 230);
	border-radius: 3px;
}

.card.card-photo-album .card-date {
	color: white;
	background-color: rgba(0, 0, 0, .7);
}

.card .card-type {
	position: absolute;
	top: -1.75em;
	left: 1.5em;
	height: 1.75em;
	padding: 0 .75em;
	font-size: 1em;
	color: $color-secondary;
	line-height: 1.75em;
	background-color: white;
	box-shadow: inset 0 -.2em .2em rgba(0, 0, 0, .1);
}

.card h2 {
	margin: 0;
	font-size: 1.5em;
}

.card-photo-album .card-body,
.card-location .card-body,
.card-type-image .card-body {
	box-sizing: border-box;
	height: 100%;
	background-color: rgba(0, 0, 0, .1);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0, transparent 50%);
	transition: background-color .2s;
}

.card-photo-album > a:hover .card-body,
.card-location > a:hover .card-body,
.card-type-image > a:hover .card-body {
	background-color: rgba(0, 0, 0, .4);
}

.card-photo-album p,
.card-location p,
.card-type-image p {
	opacity: 0;
	transform: translateY(.25em);
	transition: opacity .2s, transform .2s;
}

.card-photo-album > a:hover p,
.card-location > a:hover p,
.card-type-image > a:hover p {
	opacity: 1;
	transform: translateY(0);
}

.card-photo-album h2,
.card-photo-album p,
.card-location h2,
.card-location p,
.card-type-image h2,
.card-type-image p {
	color: white;
}

/* TRAININGSTIJDEN */

td.trainingstijden-dag {
	vertical-align: top;
}

.trainingstijden-tijd {
	min-width: 8em;
}

@import 'module-wordpress';
@import 'modules/button';
@import 'modules/committees';
@import 'modules/items';
@import 'modules/item-filter';
@import 'modules/user-committee';
@import 'modules/logo-carousel';
@import 'modules/photo-albums';
@import 'modules/photo-album';
@import 'modules/location';
@import 'modules/cards';
@import 'modules/card';