//color
$color-text: rgb(50, 50, 50);
$color-primary: rgb(202, 33, 40);
$color-secondary: rgb(61, 125, 204);
$color-tertiary: rgb(234, 139, 3);

//fonts
$p-font: 'Lato', sans-serif;
$s-font: 'Roboto Slab', serif;

//breakpoints
$break-small: 36.5em;
$break-middle: 55em;
$break-large: 82.5em;

//content paddings
$cp-default: 7%;
$cp-small: 2em;
$cp-middle: 1.25em;

//other
$header-height: 92px;//fixed header height